/* CSS padrão  */

*{
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: azure;
  box-sizing: border-box;
  
}

body, html{
  height: 100vh;
  background: linear-gradient(110deg ,
  rgb(88, 43, 166) 0%, 
  rgb(24, 2, 49)100%);

}

img{
  max-width: 100%;
}

